@import "../css/var.css";
html,
body {
  height: 100%;
  color: var(--color-text);
  background-color: var(--bg);
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1;
}

body._lock {
  overflow: hidden;
}

.none {
  display: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1190px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
}
@media (width >= 768px) {
  .subtitle {
    font-size: 14px;
  }
}
@media (width >= 1190px) {
  .subtitle {
    font-size: 18px;
  }
}
@media (width >= 1440px) {
  .subtitle {
    font-size: 22px;
  }
}

.textblue {
  font-size: 14px;
  line-height: 1.6;
  color: var(--blue);
  filter: saturate(200%);
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul, li, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.arrow-to-right {
  background-image: url("../img/images/about-img/host/arrow-host.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-position: 50% 50%;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--blue);
  color: var(--color-text);
  cursor: pointer;
}
@media (width >= 1190px) {
  .button {
    font-size: 16px;
  }
}
@media (width >= 1440px) {
  .button {
    padding: 11px 18px;
    border-radius: 6px;
    font-size: 18px;
  }
}

.card-episodes {
  padding-top: 10px;
}
@media (width >= 450px) {
  .card-episodes {
    padding-top: 20px;
  }
}
@media (width >= 500px) {
  .card-episodes {
    padding-top: 32px;
  }
}
@media (width >= 768px) {
  .card-episodes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    text-align: left;
  }
}
@media (width >= 1440px) {
  .card-episodes {
    width: 100%;
  }
}
.card-episodes__container {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width >= 450px) {
  .card-episodes__container {
    padding: 0px 20px;
  }
}
@media (width >= 496px) {
  .card-episodes__container {
    padding: 0px 40px;
  }
}
@media (width >= 500px) {
  .card-episodes__container {
    padding: 0px 60px;
  }
}
@media (width >= 545px) {
  .card-episodes__container {
    padding: 0px 80px;
  }
}
@media (width >= 768px) {
  .card-episodes__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0px 20px;
  }
}
@media (width >= 1440px) {
  .card-episodes__container {
    padding: 0px 14px;
  }
}
.card-episodes__top-title {
  display: inline-block;
  align-self: flex-start;
  margin: 0px auto;
  padding: 0px 8px;
  border-radius: 2px;
  background-color: var(--bg);
  font-size: 14px;
  line-height: 1.5;
}
@media (width >= 330px) {
  .card-episodes__top-title {
    margin: 0px auto 16px;
  }
}
@media (width >= 400px) {
  .card-episodes__top-title {
    margin: 0px auto 32px;
  }
}
@media (width >= 500px) {
  .card-episodes__top-title {
    margin: 0px auto 40px;
  }
}
@media (width >= 576px) {
  .card-episodes__top-title {
    margin: 0px auto 60px;
  }
}
@media (width >= 700px) {
  .card-episodes__top-title {
    margin: 0px auto 100px;
  }
}
@media (width >= 768px) {
  .card-episodes__top-title {
    margin: 8px 0px 0px;
  }
}
@media (width >= 992px) {
  .card-episodes__top-title {
    border-radius: 4px;
  }
}
@media (width >= 1190px) {
  .card-episodes__top-title {
    font-size: 16px;
  }
}
@media (width >= 1440px) {
  .card-episodes__top-title {
    padding: 0px 16px;
    border-radius: 6px;
    font-size: 18px;
    background-color: var(--bg);
  }
}
.card-episodes__textblue {
  display: inline-block;
  align-self: flex-start;
  padding: 0px 8px;
  margin: 0px auto 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 2px;
  color: var(--blue);
  background-color: var(--bg);
  filter: saturate(200%);
}
.card-episodes__textblue span {
  font-size: 15px;
  line-height: 1.5;
}
@media (width >= 330px) {
  .card-episodes__textblue {
    margin: 0px auto 20px;
  }
}
@media (width >= 450px) {
  .card-episodes__textblue {
    margin: 0px auto 80px;
  }
}
@media (width >= 576px) {
  .card-episodes__textblue {
    margin: 0px auto 100px;
  }
}
@media (width >= 768px) {
  .card-episodes__textblue {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
}
@media (width >= 1190px) {
  .card-episodes__textblue {
    font-size: 16px;
  }
  .card-episodes__textblue span {
    font-size: 17px;
  }
}
@media (width >= 1440px) {
  .card-episodes__textblue {
    display: block;
    font-size: 18px;
  }
  .card-episodes__textblue span {
    font-size: 19px;
  }
}
.card-episodes__title {
  margin: 0px 0px 8px;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 1.5px;
}
@media (width >= 330px) {
  .card-episodes__title {
    margin: 0px 0px 16px;
  }
}
@media (width >= 340px) {
  .card-episodes__title {
    padding: 0px 20px;
  }
}
@media (width >= 380px) {
  .card-episodes__title {
    padding: 0px;
  }
}
@media (width >= 450px) {
  .card-episodes__title {
    margin: 0px -40px 40px;
  }
}
@media (width >= 500px) {
  .card-episodes__title {
    margin: 0px -60px 20px;
  }
}
@media (width >= 576px) {
  .card-episodes__title {
    font-size: 34px;
  }
}
@media (width >= 650px) {
  .card-episodes__title {
    margin: 0px 0px 40px;
  }
}
@media (width >= 768px) {
  .card-episodes__title {
    margin: 0px;
    font-size: 36px;
  }
}
@media (width >= 992px) {
  .card-episodes__title {
    font-size: 42px;
    letter-spacing: 2px;
  }
}
@media (width >= 1440px) {
  .card-episodes__title {
    padding-right: 77px;
    font-size: 64px;
    letter-spacing: 2.56px;
  }
}
.card-episodes__subtitle {
  margin: 0px 0px 40px;
  -webkit-line-clamp: 3;
}
@media (width >= 330px) {
  .card-episodes__subtitle {
    margin: 0px 0px 20px;
  }
}
@media (width >= 360px) {
  .card-episodes__subtitle {
    margin: 0px 0px 60px;
  }
}
@media (width >= 380px) {
  .card-episodes__subtitle {
    margin: 0px 0px 100px;
  }
}
@media (width >= 400px) {
  .card-episodes__subtitle {
    margin: 0px 0px 100px;
  }
}
@media (width >= 450px) {
  .card-episodes__subtitle {
    margin: 0px 0px 60px;
  }
}
@media (width >= 496px) {
  .card-episodes__subtitle {
    margin: 0px 0px 112px;
  }
}
@media (width >= 500px) {
  .card-episodes__subtitle {
    margin: 0px 0px 90px;
  }
}
@media (width >= 545px) {
  .card-episodes__subtitle {
    margin: 0px 0px 160px;
  }
}
@media (width >= 576px) {
  .card-episodes__subtitle {
    margin: 0px 0px 160px;
    padding: 0px 20px;
  }
}
@media (width >= 650px) {
  .card-episodes__subtitle {
    margin: 0px 0px 220px;
    padding: 0px 40px;
  }
}
@media (width >= 700px) {
  .card-episodes__subtitle {
    padding: 0px 80px;
    margin: 0px 0px 246px;
  }
}
@media (width >= 768px) {
  .card-episodes__subtitle {
    margin: 0px;
    padding: 0px;
  }
}
.card-episodes__button {
  margin: 0px auto 40px;
  align-self: flex-start;
}
@media (width >= 330px) {
  .card-episodes__button {
    margin: 0px auto;
  }
}
@media (width >= 400px) {
  .card-episodes__button {
    margin: 0px auto 20px;
  }
}
@media (width >= 450px) {
  .card-episodes__button {
    margin: 0px auto 40px;
  }
}
@media (width >= 768px) {
  .card-episodes__button {
    margin: 0px;
    align-self: flex-start;
  }
}

.card-host {
  padding: 28px 0px 0px;
}
@media (width >= 545px) {
  .card-host {
    padding: 40px 0px 0px;
  }
}
@media (width >= 1440px) {
  .card-host {
    max-width: 590px;
    height: 448px;
    justify-content: flex-start;
  }
}
.card-host__arrow {
  position: absolute;
  top: 6%;
  right: 15%;
  width: 40px;
  height: 40px;
  background-size: 60%;
  background-color: var(--blue);
}
@media (width >= 400px) {
  .card-host__arrow {
    right: 20%;
  }
}
@media (width >= 545px) {
  .card-host__arrow {
    top: 10%;
    right: 25%;
  }
}
@media (width >= 650px) {
  .card-host__arrow {
    top: 8%;
    right: 30%;
  }
}
@media (width >= 768px) {
  .card-host__arrow {
    position: static;
  }
}
@media (width >= 1440px) {
  .card-host__arrow {
    width: 112px;
    height: 112px;
    margin: 0px 0px 20px;
    background-color: var(--blue);
  }
}
.card-host__textblue {
  display: inline-block;
  margin: 0px auto 20px;
  padding: 0px 8px;
  border-radius: 2px;
  background-color: var(--bg);
}
@media (width >= 400px) {
  .card-host__textblue {
    margin: 0px auto 100px;
  }
}
@media (width >= 450px) {
  .card-host__textblue {
    margin: 0px auto 140px;
  }
}
@media (width >= 500px) {
  .card-host__textblue {
    margin: 0px auto 160px;
  }
}
@media (width >= 520px) {
  .card-host__textblue {
    margin: 0px auto 20px;
  }
}
@media (width >= 600px) {
  .card-host__textblue {
    margin: 0px auto 40px;
  }
}
@media (width >= 650px) {
  .card-host__textblue {
    margin: 0px auto 100px;
  }
}
@media (width >= 1440px) {
  .card-host__textblue {
    margin: 0px 0px 4px;
  }
}
.card-host__title {
  margin: 0px 0px 32px;
  font-size: 34px;
  line-height: 1.14;
}
@media (width >= 520px) {
  .card-host__title {
    margin: 0px 0px 12px;
  }
}
@media (width >= 1440px) {
  .card-host__title {
    margin: 0px 0px 32px;
  }
}
.card-host__subtitle:not(:last-child) {
  margin: 0px 0px 20px;
}
@media (width >= 1440px) {
  .card-host__subtitle:not(:last-child) {
    margin: 0px 0px 32px;
  }
}

.footer {
  background-color: blue;
  color: var(--color-text);
}

.form-subscribe__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (width >= 450px) {
  .form-subscribe__form {
    align-items: center;
  }
}
.form-subscribe input {
  padding: 12px 10px;
  border-radius: 4px;
  line-height: 1.17;
}
@media (width >= 450px) {
  .form-subscribe input {
    width: 70%;
  }
}
@media (width >= 450px) {
  .form-subscribe input {
    width: 60%;
  }
}
@media (width >= 650px) {
  .form-subscribe input {
    width: 50%;
  }
}
.form-subscribe button {
  display: flex;
  align-self: flex-start;
  padding: 8px 14px;
  margin: 0px auto;
  font-size: 11px;
}

@media (width >= 1440px) {
  .form-subscribe__form input {
    width: 522px;
    height: 88px;
    padding: 0px 10px 0px 20px;
    margin: 0px 0px 20px;
    border-radius: 6px;
    font-size: 24px;
    line-height: 1.17;
    background-color: var(--bg);
    color: var(--color-text);
  }
  .form-subscribe__form button {
    display: flex;
    align-self: flex-start;
    font-size: 15px;
  }
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  background-color: var(--bg);
}
@media (min-width: 768px) {
  .header {
    min-height: 70px;
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 80px;
    padding: 20px 0;
  }
}
@media (min-width: 1190px) {
  .header {
    min-height: 90px;
  }
}
@media (min-width: 1440px) {
  .header {
    min-height: 120px;
    padding: 26px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (width >= 576px) {
  .icons-hero {
    justify-content: flex-start;
    column-gap: 40px;
  }
}
@media (width >= 650px) {
  .icons-hero {
    flex-wrap: nowrap;
  }
}
@media (width >= 768px) {
  .icons-hero {
    column-gap: 20px;
  }
}
@media (width >= 992px) {
  .icons-hero {
    column-gap: 3%;
  }
}
@media (width >= 1440px) {
  .icons-hero {
    column-gap: 3%;
  }
}
.icons-hero__icon {
  width: 40px;
}
@media (width >= 768px) {
  .icons-hero__icon {
    width: 32px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img img {
  padding-top: 5%;
  width: 80px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .logo__img img {
    width: 110px;
  }
}
@media (min-width: 992px) {
  .logo__img img {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  .logo__img img {
    width: 130px;
  }
}
@media (min-width: 1190px) {
  .logo__img img {
    width: 150px;
  }
}
@media (min-width: 1440px) {
  .logo__img img {
    padding-top: 0%;
    width: 160px;
  }
}

.menu {
  display: flex;
  align-items: center;
}
.menu__icon {
  position: relative;
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;
}
.menu__icon::before, .menu__icon::after, .menu__icon span {
  position: absolute;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: var(--color-text);
  transition: all 0.3s ease 0s;
}
.menu__icon::before, .menu__icon::after {
  content: "";
}
.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu__icon._active {
  bottom: 150%;
  right: -170%;
}
@media (width >= 576px) {
  .menu__icon._active {
    bottom: 100%;
  }
}
.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
  top: 430%;
  transform: rotate(-50deg) translate(0px, -50px);
}
.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(50deg) translate(0px, 50px);
}
@media (width >= 768px) {
  .menu__icon {
    display: none;
  }
}
.menu__body {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 30px 15px 10px;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: left 0.3s ease 0s;
  overflow: auto;
}
.menu__body._active {
  left: 0px;
}
@media (width >= 576px) {
  .menu__body {
    padding: 30px 20px 10px;
  }
}
@media (width >= 768px) {
  .menu__body {
    position: static;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
  }
}
@media (width >= 768px) {
  .menu__list {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
}
@media (width >= 1190px) {
  .menu__list {
    column-gap: 35px;
  }
}
@media (width >= 1440px) {
  .menu__list {
    column-gap: 40px;
  }
}
.menu__list > li {
  padding: 5px 0;
  margin: 0 0 30px 0;
}
@media (width >= 768px) {
  .menu__list > li {
    margin-bottom: 0;
  }
}
.menu__list > li:last-child {
  margin-bottom: 0;
}
.menu__link {
  font-size: 24px;
  color: var(--color-text);
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 12px;
    line-height: 1.8333333333;
    text-decoration: none;
  }
  .menu__link:hover {
    color: var(--blue);
  }
}
@media (width >= 992px) {
  .menu__link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media (width >= 1190px) {
  .menu__link {
    font-size: 17px;
    line-height: 1.5882352941;
  }
}

.page-main {
  position: relative;
  flex: 1 1 auto;
}
.page__hero {
  position: relative;
  margin: 0px 0px 20px;
}
@media (width >= 375px) {
  .page__hero {
    margin: 0px;
  }
}
@media (width >= 768px) {
  .page__hero {
    margin: 0px;
  }
}
@media (width >= 1440px) {
  .page__hero {
    margin: 120px 0px 0px;
  }
}
.page__episodes {
  margin: 0px 0px 40px;
}
@media (width >= 330px) {
  .page__episodes {
    margin: 0px 0px 100px;
  }
}
@media (width >= 450px) {
  .page__episodes {
    margin: 0px 0px 80px;
  }
}
@media (width >= 500px) {
  .page__episodes {
    margin: 0px 0px 100px;
  }
}
@media (width >= 768px) {
  .page__episodes {
    margin: 0px 0px 40px;
  }
}
@media (width >= 992px) {
  .page__episodes {
    background-color: var(--bg);
  }
}
@media (width >= 1440px) {
  .page__episodes {
    margin: 0px 0px 160px;
  }
}
.page__about {
  margin: 0px 0px 60px;
  text-align: center;
}
@media (width >= 1440px) {
  .page__about {
    padding: 100px 0px 0px;
    margin: 0px 0px 160px;
  }
}

.hero {
  padding: 32px 0px 0px;
}
@media (width >= 500px) {
  .hero {
    padding: 60px 0px 0px;
  }
}
@media (width >= 650px) {
  .hero {
    padding: 60px 0px 0px;
  }
}
@media (width >= 768px) {
  .hero {
    padding: 88px 0px 12px;
    column-gap: 30px;
  }
}
@media (width >= 992px) {
  .hero {
    padding: 100px 0px 0px;
  }
}
@media (width >= 1190px) {
  .hero {
    padding: 140px 0px 0px;
  }
}
@media (width >= 1440px) {
  .hero {
    padding: 40px 0px 0px;
  }
}
@media (width >= 768px) {
  .hero__container {
    display: flex;
  }
}
.hero__row {
  display: flex;
}
@media (width >= 768px) {
  .hero__col {
    width: 50%;
  }
}
.hero__image {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__image img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: brightness(0.8);
}
@media (width >= 768px) {
  .hero__image {
    position: relative;
    top: 0%;
    border-radius: 8px;
  }
  .hero__image::before {
    content: "";
    width: 68px;
    height: 74px;
    position: absolute;
    z-index: 7;
    background-image: url("../img/images/hero-img/hero-img_add-top.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (width >= 768px) and (width >= 1190px) {
  .hero__image::before {
    top: -3%;
    left: -4%;
  }
}
@media (width >= 768px) {
  .hero__image img {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transform: translate(0, 0);
  }
}
@media (width >= 992px) {
  .hero__image img {
    border-radius: 10px;
  }
}
@media (width >= 1440px) {
  .hero__image {
    border-radius: 14px;
  }
}
.hero__body {
  position: relative;
  padding: 60px 0px 0px;
}
@media (width >= 496px) {
  .hero__body {
    padding: 100px 0px 0px;
  }
}
@media (width >= 768px) {
  .hero__body {
    padding: 100px 20px 0px 40px;
  }
}
@media (width >= 885px) {
  .hero__body {
    padding: 100px 60px 0px 40px;
  }
}
@media (width >= 900px) {
  .hero__body {
    padding: 140px 60px 0px 40px;
  }
}
@media (width >= 965px) {
  .hero__body {
    padding: 180px 120px 0px 40px;
  }
}
@media (width >= 992px) {
  .hero__body {
    padding: 180px 40px 0px 40px;
  }
}
@media (width >= 1162px) {
  .hero__body {
    padding: 180px 40px 0px 60px;
  }
}
@media (width >= 1190px) {
  .hero__body {
    padding: 200px 4px 0px 60px;
  }
}
@media (width >= 1395px) {
  .hero__body {
    padding: 240px 40px 0px 60px;
  }
}
@media (width >= 1440px) {
  .hero__body {
    padding: 294px 60px 0px;
  }
}
.hero__text-main {
  margin: 0px 0px 180px;
  text-align: center;
  font-size: 32px;
  line-height: 1.26;
  letter-spacing: 1.45px;
}
@media (width >= 325px) {
  .hero__text-main {
    padding: 0px 20px;
  }
}
@media (width >= 365px) {
  .hero__text-main {
    padding: 0px 40px;
  }
}
@media (width >= 416px) {
  .hero__text-main {
    padding: 0px 60px;
  }
}
@media (width >= 456px) {
  .hero__text-main {
    padding: 0px 80px;
  }
}
@media (width >= 496px) {
  .hero__text-main {
    padding: 0px 100px;
  }
}
@media (width >= 524px) {
  .hero__text-main {
    padding: 0px 60px;
  }
}
@media (width >= 644px) {
  .hero__text-main {
    padding: 0px 80px;
  }
}
@media (width >= 684px) {
  .hero__text-main {
    padding: 0px 120px;
  }
}
@media (width >= 768px) {
  .hero__text-main {
    padding: 0px;
    margin: 0px 0px 80px;
    text-align: left;
    font-size: 38px;
    letter-spacing: 1.8px;
  }
}
@media (width >= 900px) {
  .hero__text-main {
    margin: 0px 0px 100px;
  }
}
@media (width >= 992px) {
  .hero__text-main {
    margin: 0px 0px 60px;
    font-size: 48px;
    letter-spacing: 2.2px;
  }
}
@media (width >= 1024px) {
  .hero__text-main {
    letter-spacing: 2.6px;
  }
}
@media (width >= 1190px) {
  .hero__text-main {
    margin: 0px 0px 80px;
    font-size: 62px;
    letter-spacing: 2.8px;
  }
}
@media (width >= 1440px) {
  .hero__text-main {
    margin: 0px 0px 84px;
    font-size: 70px;
    letter-spacing: 3.2px;
    padding: 0px;
  }
}
.hero__text-green {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.125;
  color: #1ED760;
}
@media (width >= 768px) {
  .hero__text-green {
    font-size: 42px;
    line-height: 1.142;
    color: var(--color-text);
  }
}
@media (width >= 992px) {
  .hero__text-green {
    font-size: 56px;
    line-height: 1.08;
  }
}
@media (width >= 1190px) {
  .hero__text-green {
    font-size: 74px;
    line-height: 1.054;
  }
}
@media (width >= 1440px) {
  .hero__text-green {
    font-size: 80px;
    line-height: 1.1;
  }
}
.hero__text-underlining {
  position: relative;
}
@media (width >= 768px) {
  .hero__text-underlining {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (width >= 992px) {
  .hero__text-underlining {
    font-size: 52px;
    line-height: 1.163;
  }
}
@media (width >= 1190px) {
  .hero__text-underlining {
    font-size: 66px;
    line-height: 1.182;
  }
}
@media (width >= 1440px) {
  .hero__text-underlining {
    font-size: 75px;
    line-height: 1.173;
  }
}
.hero__text-underlining::after {
  content: "";
  background-image: url("../img/images/hero-img/hero-img_line.svg");
  position: absolute;
  width: 100%;
  height: 12%;
  left: 0%;
  bottom: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__text-add {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.6;
}
@media (width >= 768px) {
  .hero__text-add {
    margin-bottom: 16px;
    font-size: 12px;
  }
}
@media (width >= 992px) {
  .hero__text-add {
    font-size: 14px;
  }
}
@media (width >= 1440px) {
  .hero__text-add {
    margin-bottom: 20px;
    font-size: 15px;
  }
}
@media (width >= 425px) {
  .hero__icons {
    justify-content: flex-start;
    column-gap: 10%;
  }
}
@media (width >= 500px) {
  .hero__icons {
    margin: 0px 0px 20px;
  }
}
@media (width >= 575px) {
  .hero__icons {
    column-gap: 10%;
  }
}
@media (width >= 768px) {
  .hero__icons {
    column-gap: 7%;
  }
}
@media (width >= 1440px) {
  .hero__icons {
    column-gap: 22px;
  }
}

.about__container {
  padding-left: 0;
  padding-right: 0;
}
.about__host {
  margin: 0px 0px 60px;
}
@media (width >= 400px) {
  .about__host {
    margin: 0px 0px 120px;
  }
}
@media (width >= 500px) {
  .about__host {
    margin: 0px 0px 48px;
  }
}
@media (width >= 520px) {
  .about__host {
    margin: 0px 0px 20px;
  }
}
@media (width >= 576px) {
  .about__host {
    margin: 0px 0px 60px;
  }
}
@media (width >= 1440px) {
  .about__host {
    padding: 0px 0px 100px;
    margin: 0px 0px 100px;
  }
}
.about__subscribe {
  background-color: var(--bg-black);
}
@media (width >= 1440px) {
  .about__subscribe {
    background-color: var(--bg-black);
    border-radius: 32px;
  }
}

.episodes {
  position: relative;
  text-align: center;
  padding: 40px 0px 0px;
}
@media (width >= 375px) {
  .episodes {
    padding: 60px 0px 0px;
  }
}
@media (width >= 768px) {
  .episodes {
    padding: 40px 0px;
  }
}
@media (width >= 992px) {
  .episodes {
    padding: 60px 0px;
  }
}
@media (width >= 1190px) {
  .episodes {
    padding: 80px 0px;
  }
}
@media (width >= 1440px) {
  .episodes {
    padding: 92px 0px 0px;
  }
}
.episodes__header--title {
  margin: 0px 0px 20px;
  font-size: 30px;
  line-height: 1.25;
  letter-spacing: 1.5px;
}
.episodes__header--link {
  margin: 0px 0px 32px;
}
@media (width >= 576px) {
  .episodes__header {
    padding: 0px 20px;
  }
  .episodes__header--title {
    font-size: 36px;
  }
  .episodes__header--link {
    margin: 0px 0px 40px;
  }
}
@media (width >= 768px) {
  .episodes__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    margin: 0px 0px 40px;
  }
  .episodes__header--title {
    margin: 0px;
    font-size: 36px;
    letter-spacing: 1.8px;
  }
  .episodes__header--link {
    align-self: center;
    margin: 0px;
  }
}
@media (width >= 992px) {
  .episodes__header--title {
    font-size: 42px;
  }
}
@media (width >= 1024px) {
  .episodes__header--title {
    letter-spacing: 2px;
  }
}
@media (width >= 1190px) {
  .episodes__header--title {
    font-size: 52px;
  }
}
@media (width >= 1440px) {
  .episodes__header {
    margin: 0px 0px 66px;
  }
  .episodes__header--title {
    font-size: 64px;
    letter-spacing: 2.88px;
  }
}
.episodes__row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (width >= 330px) {
  .episodes__row {
    row-gap: 80px;
  }
}
@media (width >= 450px) {
  .episodes__row {
    row-gap: 60px;
  }
}
@media (width >= 500px) {
  .episodes__row {
    row-gap: 80px;
  }
}
@media (width >= 768px) {
  .episodes__row {
    row-gap: 40px;
  }
}
@media (width >= 1440px) {
  .episodes__row {
    row-gap: 60px;
  }
}
.episodes__col {
  overflow: hidden;
}
@media (width >= 768px) {
  .episodes__col--content {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    border-radius: 16px;
    background-color: var(--bg-black);
  }
}
@media (width >= 992px) {
  .episodes__col {
    background-color: var(--bg-black);
    border-radius: 18px;
  }
  .episodes__col--content {
    column-gap: 60px;
  }
}
@media (width >= 1190px) {
  .episodes__col {
    border-radius: 24px;
  }
  .episodes__col--content {
    padding: 32px;
  }
}
@media (width >= 1440px) {
  .episodes__col {
    border-radius: 32px;
    background-color: var(--bg-black);
  }
  .episodes__col--content {
    column-gap: 30px;
    padding: 40px;
  }
}
.episodes__image {
  position: absolute;
  width: 100%;
  left: 0;
}
.episodes__image img {
  width: 100%;
  height: auto;
  filter: brightness(0.7);
}
@media (width >= 768px) {
  .episodes__image {
    position: static;
    width: 50%;
    margin: 0px;
  }
  .episodes__image img {
    filter: brightness(1);
  }
}
@media (width >= 992px) {
  .episodes__image img {
    border-radius: 0px;
  }
}
@media (width >= 1440px) {
  .episodes__image {
    width: 50%;
    margin: 0px 0px 0px;
  }
  .episodes__image img {
    max-width: none;
  }
}
.episodes__card {
  position: relative;
}

@media (width >= 1440px) {
  .host__row {
    display: flex;
  }
  .host__row > div:nth-child(1) {
    order: 2;
  }
  .host__row > div:nth-child(2) {
    order: 1;
  }
}
.host__col {
  display: block;
}
@media (width >= 1440px) {
  .host {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.host__image {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
}
@media (width >= 1440px) {
  .host__image {
    position: static;
  }
}
.host__image img {
  width: 100%;
  filter: brightness(0.7);
}
@media (width >= 1440px) {
  .host__image img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
.host__card {
  position: relative;
}

.subscribe {
  padding: 40px 0px;
}
@media (width >= 1440px) {
  .subscribe {
    padding: 60px 0px 60px;
  }
}
@media (width >= 1440px) {
  .subscribe__container {
    padding: 0px 60px;
  }
}
@media (width >= 1440px) {
  .subscribe__row {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-black);
  }
}
@media (width >= 1440px) {
  .subscribe__text {
    position: relative;
  }
  .subscribe__text::before {
    content: "";
    width: 147px;
    height: 91px;
    position: absolute;
    bottom: -100%;
    left: -13%;
    background-image: url("../img/images/about-img/subscribe.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.subscribe__textblue {
  display: inline-block;
  padding: 0px 8px;
  margin: 0px 0px 20px;
}
@media (width >= 1440px) {
  .subscribe__textblue {
    margin: 0px;
  }
}
.subscribe__title {
  margin: 0px 0px 40px;
  line-height: 1.5;
}
@media (width >= 520px) {
  .subscribe__title {
    margin: 0px 0px 20px;
  }
}
@media (width >= 1440px) {
  .subscribe__title {
    max-width: 70%;
    margin-bottom: 0px;
    padding-right: 40px;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 2.88px;
  }
}/*# sourceMappingURL=main.css.map */