.about {
	&__host {
		margin: 0px 0px 60px;
	}
	&__subscribe {
		border-radius: 32px;			
	}
}
@media (width >= 1440px) {
	.about {
		&__host {
			padding: 0px 0px 100px;
			margin: 0px 0px 100px;
		}
		&__subscribe {
			background-color: var(--bg-black);
			border-radius: 32px;			
		}
	}
}