// .page__about {
// 	padding: 12px 0px 0px;
// 	margin: 0px 0px 20px;
// }	
// .about {
// 	&__host {
// 		// padding: 0px 0px 100px;
// 		margin: 0px 0px 20px;
// 	}
// 	&__subscribe {
// 		background-color: var(--bg-black);
// 		border-radius: 32px;			
// 	}
// }
@media (width >= 1440px) {
	.page__about {
		padding: 100px 0px 0px;
		margin: 0px 0px 100px;
	}	
	.about {
		&__host {
			padding: 0px 0px 100px;
			margin: 0px 0px 100px;
		}
		&__subscribe {
			background-color: var(--bg-black);
			border-radius: 32px;			
		}
	}
}