.episodes {
	position: relative;
	text-align: center;
	padding: 28px 0px 0px;
	@media (width >= 576px) {padding: 40px 0px 0px;}
	@media (width >= 768px) {padding: 48px 0px 0px;}
	@media (width >= 992px) {padding: 60px 0px;}
	@media (width >= 1190px) {padding: 80px 0px;}
	@media (width >= 1440px) {padding: 42px 0px 0px;}
	&__header {
		padding: 0px 0px 28px;
		@media (width >= 576px) {padding: 0px 0px 32px;}
		@media (width >= 768px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px;
			margin: 0px 0px 40px;
		}
		@media (width >= 1440px) {margin: 0px 0px 66px;}
		&-title {
			margin: 0px 0px 20px;
			@media (width >= 576px) {margin: 0px 0px 28px;}
			@media (width >= 768px) {margin: 0px;}
		}
		&-link {
			@media (width >= 768px) {
				align-self: center;
				margin: 0px;
			}
		}	
	}
	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 0px;
		@media (width >= 768px) {row-gap: 20px;}
		@media (width >= 1440px) {row-gap: 60px;}
	}
	&__col {
		position: relative;
		overflow: hidden;
		@media (width >= 768px) {
			background-color: var(--bg-black);
			border-radius: 18px;
			&-border {
				display: flex;
				column-gap: 5%;
				// overflow: scroll;
				padding: 3%;
				border-radius: clamp(22px, 0.661rem + 1.49vw, 32px);
			}
		}
		@media (width >= 1190px) {
			border-radius: 24px;
			&-border {padding: 32px;}
		}
		@media (width >= 1440px) {
			border-radius: 32px;
			&-border {
				column-gap: 53px;	
				padding: 40px;
			}
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		left: 0;
		@media (width >= 768px) {
			position: static;
			width: auto;
			margin: 0px;
			& img {filter: brightness(1);}
		}
		@media (width >= 1440px) {
			margin: 0px 0px 0px;
		}
		& img {
			width: 100%;
			height: auto;
			filter: brightness(0.7);
			@media (width >= 1440px) {
				width: auto;
			}
		}
	}
	&__card {
		position: relative;
		@media (width >= 1440px) {
			padding-top: 8px;
		}
	}
}