.hero {
	position: relative;
	@media (width >= 768px) {padding-top: clamp(100px, 1.107rem + 10.71vw, 172px);}
	&__row {@media (width >= 768px) {display: flex;}}
	&__col {
		position: relative;
		width: 100%;
		@media (width >= 768px) {width: 50%;}
	}
	&__image {
		padding-top: 60px;
		filter: brightness(0.7);
		@media (width >= 768px) {
			position: relative;
			top: 0%;
			padding: 0;
			filter: brightness(1.0);
			&::before {
				content: "";
				width: clamp(36px, -0.036rem + 4.76vw, 68px);
				height: clamp(39px, -0.063rem + 5.21vw, 74px);
				position: absolute;
				top: -3%;
				left: -4%;
				z-index: 7;
				background-image: url('../img/images/hero-img/hero-img_add-top.svg');
				background-repeat: no-repeat;
				background-size: cover;
				@media (width >= 1190px) {
					top: -3%;
					left: -4%;
				}
			}
		}
		& img {
			position: static;
			width: 100%;
			height: auto;		
			transform: translate(0, 0);
			border-radius: clamp(8px, 0.214rem + 0.6vw, 12px);
		}		
	}
	&__body {
		position: absolute;
		bottom: 20px;
		padding-inline: 15px;
		@media(min-width: 576px) {padding-inline: 20px;}
		@media (width >= 768px) {
			position: static;
			padding-bottom: 10%;
			text-align: left;
		}
		@media (width >= 992px) {padding-bottom: 10%;}
		@media (width >= 1200px) {padding-bottom: 15%;}
		@media (width >= 1440px) {padding-inline: 60px;}
	}
	&__text-main {
		margin-bottom: 228px;
		text-align: center;
		@media (width >= 375px) {margin-bottom: 300px;}	
		@media (width >= 425px) {margin-bottom: 360px;}
		@media (width >= 496px) {margin-bottom: 420px;}
		@media (width >= 576px) {margin-bottom: 468px;}
		@media (width >= 620px) {margin-bottom: 540px;}
		@media (width >= 690px) {margin-bottom: 620px;}
		@media (width >= 768px) {
			padding: 0px;
			margin-bottom: 80px;
			text-align: left;
		}
		@media (width >= 900px) {margin-bottom: 100px;}
		@media (width >= 1440px) {margin: 136px 0px 88px;}
	}
	&__text-underlining {
		font-size: clamp(22px, 0.429rem + 4.73vw, 75px);
		line-height: clamp(30px, 0.839rem + 5.18vw, 88px);
		letter-spacing: clamp(1.824px, 0.088rem + 0.13vw, 3.2px);		
		position: relative;
		&::after {
			content: "";
			background-image: url("../img/images/hero-img/hero-img_line.svg");
			position: absolute;
			width: 100%;
			height: 12%;
			left: 0%;
			bottom: 0%;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__text-green {
		font-size: clamp(23px, 0.42rem + 5.09vw, 80px);
        line-height: clamp(30px, 0.839rem + 5.18vw, 88px);
		letter-spacing: clamp(1.824px, 0.088rem + 0.13vw, 3.2px);
		font-weight: 700;
		color: #1ED760;
		@media (width >= 768px) {color: var(--color-text);}
	}
	&__text-add {
		margin-bottom: 12px;
		font-size: 12px;
		line-height: 1.6;
		@media (width >= 768px) {
			margin-bottom: 16px;
			font-size: 12px;
		}
		@media (width >= 992px) {font-size: 14px;}
		@media (width >= 1440px) {font-size: 15px;}
	}
}