.hero {
	position: relative;
	@media (width >= 768px) {padding: 120px 0px 0px;}
	@media (width >= 1190px) {padding: 140px 0px 0px;}
	@media (width >= 1440px) {padding: 160px 0px 0px;}
	&__row {
		@media (width >= 768px) {display: flex;}
	}
	&__col {
		position: relative;
		width: 100%;
		@media (width >= 768px) {width: 50%;}
	}
	&__image {
		padding: 60px 0px 0px;
		filter: brightness(0.7);
		@media (width >= 768px) {
			position: relative;
			top: 0%;
			padding: 0px;
			filter: brightness(1.0);
			&::before {
				content: "";
				width: 68px;
				height: 74px;
				position: absolute;
				top: -5%;
				left: -7%;
				z-index: 7;
				background-image: url('../img/images/hero-img/hero-img_add-top.svg');
				background-repeat: no-repeat;
				background-size: cover;
				@media (width >= 1190px) {
					top: -3%;
					left: -4%;
				}
			}
		}
		& img {
			position: static;
			width: 100%;
			height: auto;		
			transform: translate(0, 0);
			@media (width >= 768px) {border-radius: 8px;}
			@media (width >= 992px) {border-radius: 10px;}
			@media (width >= 1440px) {border-radius: 14px;}
		}		
	}
	&__body {
		position: absolute;
		bottom: 20px;
		padding: 0px 15px;
		@media(min-width: 576px) {padding: 0px 20px;}
		@media (width >= 768px) {
			position: static;
			padding: 0 0 0 5%;
			text-align: left;
		}
		@media (width >= 992px) {padding: 0 0 0 10%;}
		@media (width >= 1200px) {padding: 0 0 0 15%;}
		@media (width >= 1440px) {padding: 16px 60px 0px;}
	}
	&__text-main {
		margin: 0px 0px 228px;
		text-align: center;
		@media (width >= 375px) {margin: 0px 0px 300px;}	
		@media (width >= 425px) {margin: 0px 40px 360px;}
		@media (width >= 496px) {margin: 0px 40px 420px;}
		@media (width >= 576px) {margin: 0px 40px 468px;}
		@media (width >= 620px) {margin: 0px 40px 540px;}
		@media (width >= 690px) {margin: 0px 80px 620px;}
		@media (width >= 768px) {
			padding: 0px;
			margin: 0px 0px 80px;
			text-align: left;
		}
		@media (width >= 900px) {margin: 0px 0px 100px;}
		@media (width >= 1440px) {margin: 136px 0px 88px;}
	}
	&__text-underlining {
		// @include adaptive-font(75, 26);
		// @include adaptive-letterspacing(3.2, 1.8);
		// @include adaptive-lineheight(88, 30.168);		
		position: relative;
		&::after {
			content: "";
			background-image: url("../img/images/hero-img/hero-img_line.svg");
			position: absolute;
			width: 100%;
			height: 12%;
			left: 0%;
			bottom: 0%;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__text-green {
		// @include adaptive-font(80, 28);
		// @include adaptive-letterspacing(3.2, 1.8);
		// @include adaptive-lineheight(88, 30.168);
		font-weight: 700;
		color: #1ED760;
		@media (width >= 768px) {color: var(--color-text);}
	}
	&__text-add {
		margin-bottom: 12px;
		font-size: 12px;
		line-height: 1.6;
		@media (width >= 768px) {
			margin-bottom: 16px;
			font-size: 12px;
		}
		@media (width >= 992px) {font-size: 14px;}
		@media (width >= 1440px) {
			margin-bottom: 20px;
			font-size: 15px;
		}
	}
}