.host {
	&__row {
		@media (width >= 1440px) {
			display: flex;
			& > div:nth-child(1) {
				order: 2;
			}
			& > div:nth-child(2) {
				order: 1;
			}
		}
	}
	&__col {display: block;}
	@media (width >= 1440px) {
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__image {
		position: absolute;
		left: 0;
		z-index: -1;
		width: 100%;
		@media (width >= 1440px) {position: static;}
		& img {
			width: 100%;
			filter: brightness(0.7);
			@media (width >= 1440px) {
				width: 100%;
				object-fit: cover;
				border-radius: 12px;
			}
		}
	}
	&__card {
		position: relative;	
	}
}	