.host {
	&__col {display: block;}
	&__image {
		position: absolute;
		left: 0;
		& img {
			width: 100%;
			filter: brightness(0.7);
		}
	}
	&__card {
		padding: 28px 0px 0px;
	}
	&__blue {
		padding: 0px;
		margin: 0px 0px 40px;
		background-color: transparent;
	}
	&__title {margin: 0px 0px 32px;}
	.card__subtitle {margin: 0px;}
	&__subtitle:not(:last-child) {margin: 0px 0px 20px;}
}
@media (width >= 1440px) {
	.host {
		&__row {
			display: flex;
			& > div:nth-child(1) {
				order: 2;
			}
			& > div:nth-child(2) {
				order: 1;
			}
		}
		&__col {
			width: 100%;
			display: flex;
			align-items: center;
		}
		&__card {
			max-width: 590px;
			height: 448px;
			justify-content: flex-start;
		}
		&__arrow {
			width: 112px;
			height: 112px;
			margin: 0px 0px 20px;
			background-color: var(--blue);
		}
		&__blue {margin: 0px 0px 4px;}
		&__title {margin: 0px 0px 32px;}
		&__image {
			position: static;
			& img {
				width: 100%;
				object-fit: cover;
				border-radius: 12px;
			}
		}
		&__subtitle:not(:last-child) {margin: 0px 0px 32px;}
	}
}	