.reviews {
    padding-top: 8%;
    @media (width >= rem(1440)) {padding-block: rem(100);}
    &__container {
        // margin-inline: rem(15);
        padding-inline: rem(15);
        @media (min-width: rem(576)) {
            padding-inline: rem(20);
            margin: 0;
        }
		@media (min-width: rem(768)) {padding: 0;}
    }
    &__list {
        display: grid;
        row-gap: rem(20);
        @media (width >= rem(576)) {
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            // gap: clamp(rem(12), 0.625rem + 0.35vw, rem(16));
            gap: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
        }
        @media (width >= rem(1024)) {grid-template-columns: repeat(3, 1fr);}
        // @media (width >= rem(1440)) {gap: rem(15);}
    }
}