.subscribe {
	position: relative;	
	// @media (width >= rem(768)) {padding-block: rem(40);}
	// @media (width >= rem(992)) {padding-block: rem(60);}
	// @media (width >= 1190px) {padding-block: rem(80);}
	// @media (width >= rem(1440)) {padding-block: rem(100);}
	padding-block: fluid-full(100,20);
	// @media (width >= rem(1440)) {padding-top: rem(100);}
	&::before {
		@media (width >= rem(768)) {
			content: "";
			width: fluid-mid(147,78);
			height: fluid-mid(91,48);
			position: absolute;
			// bottom: -12%;
			bottom: 7%;
			left: -2%;
			background-image: url('../img/images/about-img/subscribe.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__container {
		padding-top: fluid-mobile(40,20);
		padding-inline: rem(15);
		@media (width >= rem(576)) {padding-inline: rem(20);}
		// @media (width >= rem(768)) {padding-inline: rem(40);}
		// @media (width >= rem(992)) {padding-inline: rem(50);}
		// @media (width >= rem(1190)) {padding-inline: rem(60);}
		// @media (width >= rem(1440)) {padding-inline: rem(70);}
		background-color: var(--bg-black);	
		@media (width >= rem(768)) {
			// padding: rem(30);
			padding: fluid-mid(60,40);
			border-radius: fluid-mid(32,12);
		}
		// @media (width >= rem(992)) {padding-inline: rem(40);}
		// @media (width >= rem(768)) {padding-inline: rem(40);}
		// @media (width >= rem(1440)) {padding: rem(60);}
		// @media (width >= rem(768)) {padding-block: rem(40);}
		// @media (width >= rem(768)) {padding: fluid-size(60,40);} 

	}
	&__row {
		@media (width >= rem(768)) {
			display: flex;
			justify-content: space-between;
			background-color: var(--bg-black);
		}
	}
	&__col {
		@media (width >= rem(768)) {width: 50%;}
		@media (width >= rem(1440)) {width: auto;}
	}
	&__text {
		text-align: center;
		@media (width >= rem(768)) {
			text-align: left;
		}
	}
	&__text-blue {
		display: inline-block;
		padding-inline: rem(8);
		margin-bottom: rem(20);
		@media (width >= rem(768)) {
			padding: 0;
			margin: 0;
		}
		@media (width >= rem(1440)) {
			padding-top: rem(3);
			margin-bottom: rem(-3);
			font-size: rem(18);
			line-height: rem(27);
			letter-spacing: rem(0.5);
		}
	}
	&__title {
		margin-bottom: fluid-mobile(60,40);
		font-size: fluid-full(72, 22);
		line-height: 1.1;
		letter-spacing: fluid-full(2.88,0.8);
		@media (width >= rem(768)) {margin: 0;}
		@media (width >= rem(1440)) {
			max-width: rem(500);
			margin-bottom: 0;
			padding-right: rem(20);
		}
	}
}