.subscribe {
	padding-top: 7%;	
	&::before {
		@media (width >= rem(768)) {
			content: "";
			width: clamp(4.875rem, -0.054rem + 10.27vw, 9.188rem);
			height: clamp(3rem, -0.071rem + 6.4vw, 5.688rem);
			position: absolute;
			bottom: -13%;
			left: -2%;
			background-image: url('../img/images/about-img/subscribe.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
		@media (width >= rem(1440)) {
			bottom: -16%;
			left: -2%;
		}
	}
	@media (width >= rem(768)) {
		padding-block: 6%;
		border-radius: clamp(1.375rem, 0.661rem + 1.49vw, 2rem);
	}
	@media (width >= rem(1440)) {padding-block: rem(60);}
	&__container {
		padding-inline: rem(15);
		@media (width >= rem(768)) {padding-inline: rem(30);}
		@media (width >= rem(992)) {padding-inline: rem(40);}
		@media (width >= rem(1440)) {padding-inline: rem(60);}
	}
	&__row {
		@media (width >= rem(768)) {
			display: flex;
			justify-content: space-between;
			background-color: var(--bg-black);
		}
	}
	&__col {
		@media (width >= rem(768)) {width: 50%;}
		@media (width >= rem(1440)) {width: auto;}
	}
	&__textblue {
		display: inline-block;
		padding-inline: rem(8);
		margin-bottom: rem(20);
		@media (width >= rem(768)) {
			padding: 0;
			margin: 0;
		}
		@media (width >= rem(1440)) {
			padding-top: rem(3);
			margin-bottom: rem(-3);
			letter-spacing: rem(0.5);
		}
	}
	&__title {
		margin-bottom: clamp(2.5rem, 1.605rem + 4.47vw, 3.75rem); // from 320 to 767
		@include fluid-text(72,22);
		line-height: 1.1;
		letter-spacing: clamp(0.05rem, 0.013rem + 0.19vw, 0.18rem);
		@media (width >= rem(768)) {
			width: 80%;
			margin: 0;
		}
		@media (width >= rem(1440)) {
			margin-bottom: 0;
			padding-right: rem(40);
		}
	}
}