.button {
	display: inline-block;
	padding-block: fluid-full(12,5);
	padding-inline: fluid-full(18,8);
	font-size: fluid-full(18,15);
	font-weight: 400;
	line-height: calc(27 / 18);
	border-radius: fluid-full(6,4);
	color: var(--color-text);
	background-color: var(--blue);
	}
.button-subscribe {
	padding-block: fluid-mid(10,3);
	padding-inline: fluid-mid(18,15);
	font-size: fluid-full(15,10);
	font-weight: 700;
	line-height: calc(28.8 / 15);
	border-radius: fluid-full(6,2);
	color: var(--color-text-subtitle);
	background-color: var(--blue);
	@media (width >= rem(768)) {padding-inline: fluid-mid(18,10);}
}
/* Button "Up": */
.btn_up {
	display: none;
	position: fixed;
	bottom: rem(40);
	right: rem(15);
	width: rem(50);
	aspect-ratio: 1;
	border-radius: 50%;
	border: rem(2) solid #000;
	z-index: 100;
	outline: 0 !important; 
	background-color: rgb(255 255 255 / 0.5); 
	&::before, &::after {
		content: "";
		width: rem(10);
		aspect-ratio: 1;
		border-top: rem(2) solid #000;
		border-right: rem(2) solid #000;
		transform: rotate(-45deg);
		position: absolute;		
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	} 
	&::before {top: rem(-5);} 
	&::after {top: rem(10);}	
	&.active {display: block;}  
	@media(width >= rem(992)) {
		&:hover {
			cursor: pointer;
			background-color: var(--color-active);
			transition: 0.5s;
		}
	}
}