.card-episodes {
	padding-top: 10px;
	@media (width >= 450px) {padding-top: 20px;}
	@media (width >= 500px) {padding-top: 32px;}
	@media (width >= 768px) {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px;
		text-align: left;
	}
	@media (width >= 1440px) {width: 100%;}
	&__container {
		padding: 0px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (width >= 450px) {padding: 0px 20px;}
		@media (width >= 496px) {padding: 0px 40px;}
		@media (width >= 500px) {padding: 0px 60px;}
		@media (width >= 545px) {padding: 0px 80px;}
		@media (width >= 768px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			padding: 0px 20px;
		}
		@media (width >= 1440px) {padding: 0px 14px;}
	}
	&__top-title {
		display: inline-block;
		align-self: flex-start;
		margin: 0px auto;
		padding: 0px 8px;
		border-radius: 2px;
		background-color: var(--bg);
		font-size: 14px;
		line-height: 1.5;
		@media (width >= 330px) {margin: 0px auto 16px;}
		@media (width >= 400px) {margin: 0px auto 32px;}
		@media (width >= 500px) {margin: 0px auto 40px;}
		@media (width >= 576px) {margin: 0px auto 60px;}
		@media (width >= 700px) {margin: 0px auto 100px;}
		@media (width >= 768px) {margin: 8px 0px 0px;}
		@media (width >= 992px) {border-radius: 4px;}
		@media (width >= 1190px) {font-size: 16px;}
		@media (width >= 1440px) {			
			padding: 0px 16px;
			border-radius: 6px;
			font-size: 18px;
			background-color: var(--bg);
		}
	}
	&__textblue {
		display: inline-block;
		align-self: flex-start;
		padding: 0px 8px;
		margin: 0px auto 12px;
		font-size: 14px;
		line-height: 1.6;
		border-radius: 2px;
		color: var(--blue);
		background-color: var(--bg);
		filter: saturate(200%);
		& span {
			font-size: 15px;
			line-height: 1.5;
		}
		@media (width >= 330px) {margin: 0px auto 20px;}
		@media (width >= 450px) {margin: 0px auto 80px;}
		@media (width >= 576px) {margin: 0px auto 100px;}
		@media (width >= 768px) {
			padding: 0px;
			margin: 0px;
			background-color: transparent;
		}
		@media (width >= 1190px) {
			font-size: 16px;
			& span {font-size: 17px;} 
		}
		@media (width >= 1440px) {
			display: block;
			font-size: 18px;
			& span {font-size: 19px;}
		}
	}
	&__title {
		margin: 0px 0px 8px;
		font-size: 30px;
		line-height: 1.1;
		letter-spacing: 1.5px;
		@media (width >= 330px) {margin: 0px 0px 16px;}
		@media (width >= 340px) {padding: 0px 20px;}
		@media (width >= 380px) {padding: 0px;}
		@media (width >= 450px) {margin: 0px -40px 40px;}
		@media (width >= 500px) {margin: 0px -60px 20px;}
		@media (width >= 576px) {font-size: 34px;}
		@media (width >= 650px) {
			margin: 0px 0px 40px;
		}
		@media (width >= 768px) {
			margin: 0px;
			font-size: 36px;
		}
		@media (width >= 992px) {
			font-size: 42px;
			letter-spacing: 2px;
		}
		@media (width >= 1440px) {
			padding-right: 77px;
			font-size: 64px;
			letter-spacing: 2.56px;
		}
	}
	&__subtitle {
		margin: 0px 0px 40px;
		-webkit-line-clamp: 3;
		// line-clamp: 3;		
		// @media (width >= 325px) {-webkit-line-clamp: 3;}
		@media (width >= 330px) {margin: 0px 0px 20px;}
		@media (width >= 360px) {margin: 0px 0px 60px;}
		@media (width >= 380px) {margin: 0px 0px 100px;}
		@media (width >= 400px) {margin: 0px 0px 100px;}
		@media (width >= 450px) {margin: 0px 0px 60px;}
		@media (width >= 496px) {margin: 0px 0px 112px;}
		@media (width >= 500px) {margin: 0px 0px 90px;}
		@media (width >= 545px) {margin: 0px 0px 160px;}
		@media (width >= 576px) {
			margin: 0px 0px 160px;
			padding: 0px 20px;
		}
		@media (width >= 650px) {
			margin: 0px 0px 220px;
			padding: 0px 40px;
		}
		@media (width >= 700px) {
			padding: 0px 80px;
			margin: 0px 0px 246px;
		}
		@media (width >= 768px) {
			margin: 0px;
			padding: 0px;
		}						
	}
	&__button {
		margin: 0px auto 40px;
		align-self: flex-start;
		@media (width >= 330px) {margin: 0px auto;}
		@media (width >= 400px) {margin: 0px auto 20px;}
		@media (width >= 450px) {margin: 0px auto 40px;}
		@media (width >= 768px) {
			margin: 0px;
			align-self: flex-start;
		}
	}
}