.card-episodes {
	padding: 5% 0px;
	@media (width >= 768px) {
		height: auto;
		width: 80%;
		padding: 0;
	}
	@media (width >= 1440px) {width: 100%;}
	&__container {
		height: 100%;
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		@media (min-width: 375px) {padding: 0px 40px;}
		@media (width >= 768px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0;
			text-align: left;
		}
	}
	&__top-title {
		display: inline-block;
		align-self: flex-start;
		margin: 0px auto 5%;
		padding: 4px 8px;
		border-radius: 4px;
		background-color: var(--bg);
		@media (width >= 768px) {
			margin: 0;
			border-radius: 4px;
		}
		@media (width >= 1440px) {			
			padding: 0px 18px;
			margin-bottom: 24px;
			border-radius: 6px;
			background-color: var(--bg);
		}
	}
	&__textblue {
		display: inline-block;
		align-self: flex-start;
		padding: 4px 8px;
		margin: 0px auto 10%;
		border-radius: 4px;
		color: var(--blue);
		filter: saturate(200%);
		@media (width >= 375px) {margin: 0px auto 15%;}
		@media (width >= 425px) {margin: 0px auto 19%;}
		@media (width >= 768px) {			
			margin: 0;
			padding: 0;
		}
		& span {
			font-size: 10px;
			@media (width >= 375px) {font-size: 11px;}
			@media (width >= 425px) {font-size: 12px;}
			@media (width >= 576px) {font-size: 13px;}
			@media (width >= 768px) {margin: 0px 0px 0px 2px;}
			@media (width >= 992px) {
				margin: 0px 0px 0px 3px;
				font-size: 15px;
			}
			@media (width >= 1190px) {font-size: 17px;}
			@media (width >= 1440px) {
				margin: 0px 0px 0px 4px;
				font-size: 18px;
			}			
		}
	}
	&__title {
		margin: 0px 0px 5%;
		@media (width >= 768px) {margin: 0;}
		@media (width >= 1440px) {
			padding: 0px 83px 0px 0px;
		}
	}
	&__subtitle {
		margin: 0px 0px 35%;
		-webkit-line-clamp: 3;
		text-wrap: balance;
		@media (width >= 576px) {margin: 0px 0px 46%;}
		@media (width >= 768px) {margin: 0px;}
		@media (width >= 1440px) {text-wrap: inherit;}												
	}
	&__button {
		margin: 0px auto;
		@media (width >= 768px) {
			margin: 0px;
			align-self: flex-start;
		}
	}
}