.card-host {
	padding-top: 4%;			
	@media (width >= 576px) {padding: 40px 0px 0px;}
	@media (width >= 768px) {
		max-width: 90%;
		padding: 0px;
	}
    @media (width >= 1440px) {max-width: 590px;}
	// &__container {padding: 0px 30px;}
	// &::after {
	// 	@media (width >= 768px) {
	// 		position: absolute;
	// 		content: '';
	// 		width: 60px;
	// 		height: 60px;
	// 		top: -33%;
	// 		right: -33%;	
	// 		background-size: 60%;
	// 		background-image: url("../img/images/about-img/host/arrow-host-big.png");
	// 		background-repeat: no-repeat;
	// 		background-position: 50% 50%;
	// 		border-radius: 50%;
	// 	}
	// 	@media (width >= 1440px) {
	// 		width: 112px;
	// 		height: 112px;
	// 		top: 0%;
	// 		left: 0%;
	// 		background-size: 100%;
	// 	}
	// }
	&__container {
		padding: 0px 15px;
		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		// @media (width >= 450px) {padding: 0px 20px;}
		// @media (width >= 496px) {padding: 0px 40px;}
		@media (width >= 425px) {padding: 0px 60px;}
		// @media (width >= 500px) {padding: 0px 60px;}
		// @media (width >= 545px) {padding: 0px 80px;}
		@media (width >= 576px) {padding: 0px 120px;}
		@media (width >= 768px) {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			// height: 100%;
			// padding: 0px 20px;
			padding: 0px;
		}
		@media (width >= 1440px) {padding: 0px;}
	}
	&__arrow {
		display: none;
		margin: 0px 0px 20px;
		@media (width >= 768px) {
			display: block;
			margin: 0px 0px 12px;
			& img {width: 20%;}
		}
		@media (width >= 1440px) {margin: 0px 0px 20px;}
		// & img {width: 20%;}
	}
    &__textblue {
        display: inline-block;
		margin: 0 auto 30%;
        padding: 0px 8px;
        border-radius: 2px;
        background-color: var(--bg);
		@media (width >= 425px) {margin: 0 auto 45%;}
		@media (width >= 576px) {margin: 0 auto 75%;}
		@media (width >= 768px) {
			padding: 0px;
			margin: 0px;
			// font-size: 11px;
		}
		// @media (width >= 1440px) {
		// 	font-size: 18px;
		// }
	}
	&__title {
		margin: 0px 0px 32px;
        // font-size: 34px;
        // line-height: 1.14;
		// @media (width >= 520px) {margin: 0px 0px 12px;}
		@media (width >= 768px) {
			margin: 0px 0px 20px;
			// line-height: 1.218;
			// letter-spacing: 1.5px;
		}	
		@media (width >= 1440px) {
			margin: 0px 0px 28px;
			// font-size: 65px;
			// letter-spacing: 2.88px;
		}
	}
    &__subtitle:not(:last-child) {
		margin: 0px 0px 20px;
		@media (width >= 1440px) {margin: 0px 0px 32px;}
	}
}