.card {
	padding: 8px 15px 8px;
	&__top-title {
		// display: inline-block;
		padding: 0px 8px;
		border-radius: 2px;
		background-color: var(--bg);
		font-size: 14px;
		line-height: 1.5;
	}
	&__textblue {
		font-size: 14px;
		color: var(--blue);
		line-height: 1.6;
		& span {
			font-size: 15px;
			line-height: 1.5;
		}
	}
	&__title {
		// margin-bottom: 16px;
		font-size: 30px;
		line-height: 1.1;
		letter-spacing: 1.5px;
	}
	&__subtitle {
		// margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.5;
	}
}
@media (width >= 576px) {
	.card {
		// padding: 60px;
		&__title {font-size: 34px;}
	}
}
@media (width >= 768px) {
	.card {
		// padding: 0px;
		// text-align: left;
		&__top-title {
			align-self: flex-start;
			margin: 8px 0px 0px 0px;
		}
		// &__textblue {margin-bottom: 0px;}
		&__title {
			// margin-bottom: 0px;
			font-size: 36px;
		}
		&__subtitle {
			// margin-bottom: 0px;
			font-size: 18px;
		}
		&__button {align-self: flex-start;}
	}
}
@media (width >= 992px) {
	.card {
		&__top-title {
			// margin: 8px 0px 28px 0px;
			border-radius: 4px;
		}
		&__title {
			// margin-bottom: 20px;
			font-size: 42px;
			letter-spacing: 2px;
		}
	}
}
@media (width >= 1190px) {
	.card {
		&__top-title {font-size: 16px;}
		&__textblue {
			font-size: 16px;
			& span {font-size: 17px;} 
		}
		&__title {font-size: 52px;}
		&__subtitle {
			// margin-bottom: 12px;
			font-size: 20px;
		}
	}
}
@media (width >= 1440px) {
	.card {
		&__top-title {
			padding: 0px 16px;
			border-radius: 6px;
			font-size: 18px;
			background-color: var(--bg);
		}
		&__textblue {
			display: block;
			font-size: 18px;
			& span {font-size: 19px;}
		}
		&__title {
			font-size: 64px;
			letter-spacing: 2.56px;
		}
		&__subtitle {
			// margin-bottom: 20px;
			font-size: 22px;
		}
	}
} 