.card {
	position: relative;
	padding-top: 10px;
	&__container {
		padding: 0px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__top-title {
		display: inline-block;
		align-self: flex-start;
		margin: 0px auto;
		padding: 0px 8px;
		border-radius: 2px;
		background-color: var(--bg);
		font-size: 14px;
		line-height: 1.5;
	}
	&__textblue {
		display: inline-block;
		align-self: flex-start;
		padding: 0px 8px;
		margin: 0px auto 12px;
		font-size: 14px;
		line-height: 1.6;
		border-radius: 2px;
		color: var(--blue);
		background-color: var(--bg);
		filter: saturate(200%);
		& span {
			font-size: 15px;
			line-height: 1.5;
		}
	}
	&__title {
		margin: 0px 0px 8px;
		font-size: 30px;
		line-height: 1.1;
		letter-spacing: 1.5px;
	}
	&__subtitle {
		margin: 0px 0px 40px;
		font-size: 16px;
		line-height: 1.5;
		
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		
		@media (width >= 325px) {-webkit-line-clamp: 3;}
		@media (width >= 469px) {-webkit-line-clamp: 2;}
	}
	&__button {
		margin: 0px auto 40px;
		align-self: flex-start;
	}
}
@media (width >= 330px) {
	.card {
		&__top-title {margin: 0px auto 16px;}
		&__textblue {margin: 0px auto 20px;}
		&__title {margin: 0px 0px 16px;}
		&__subtitle {margin: 0px 0px 20px;}
		&__button {margin: 0px auto;}
	}
}
@media (width >= 340px) {
	.card {
		&__title {padding: 0px 20px;}
	}
}
@media (width >= 360px) {
	.card {
		&__subtitle {margin: 0px 0px 60px;}
	}
}
@media (width >= 380px) {
	.card {
		&__title {padding: 0px;}
		&__subtitle {margin: 0px 0px 100px;}
	}
}
@media (width >= 400px) {
	.card {
		&__top-title {margin: 0px auto 32px;}
		&__subtitle {margin: 0px 0px 100px;}
		&__button {margin: 0px auto 20px;}
	}
}
@media (width >= 450px) {
	.card {
		padding-top: 20px;
		&__textblue {margin: 0px auto 80px;}
		&__title {margin: 0px -40px 40px;}
		&__subtitle {margin: 0px 0px 60px;}
		&__button {margin: 0px auto 40px;}
		&__container {padding: 0px 20px;}
	}
}
@media (width >= 469px) {
	.card {
		&__container {padding: 0px 80px;}
		&__subtitle {margin: 0px 0px 112px;}		
	}
}
@media (width >= 500px) {
	.card {
		padding-top: 32px;
		&__top-title {margin: 0px auto 40px;}
		&__textblue {margin: 0px auto 80px;}
		&__title {margin: 0px -60px 20px;}
		&__subtitle {
			margin: 0px 0px 90px;
			-webkit-line-clamp: 3;
		}
	}
}
@media (width >= 550px) {
	.card {
		&__subtitle {margin: 0px 0px 160px;}		
	}
}
@media (width >= 576px) {
	.card {
		&__top-title {margin: 0px auto 60px;}
		&__textblue {margin: 0px auto 100px;}
		&__title {font-size: 34px;}
		&__subtitle {margin: 0px 0px 160px;}
	}
}
@media (width >= 576px) {
	.card {
		&__subtitle {-webkit-line-clamp: 2;}
	}
}
@media (width >= 650px) {
	.card {
		&__title {
			padding: 0px;
			margin: 0px 0px 40px;
		}
		&__subtitle {margin: 0px 0px 220px;}
	}
}
@media (width >= 700px) {
	.card {
		&__top-title {margin: 0px auto 100px;}
		&__subtitle {margin: 0px 0px 246px;}
	}
}
@media (width >= 768px) {
	.card {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px;
		text-align: left;
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			padding: 0px 20px;
		}
		&__top-title {margin: 8px 0px 0px;}
		&__textblue {
			padding: 0px;
			margin: 0px;
			background-color: transparent;
		}
		&__title {
			margin: 0px;
			font-size: 36px;
		}
		&__subtitle {
			margin: 0px;
			font-size: 14px;
			-webkit-line-clamp: 3;

		}
		&__button {
			margin: 0px;
			align-self: flex-start;
		}
	}
}
@media (width >= 992px) {
	.card {
		&__top-title {border-radius: 4px;}
		&__title {
			font-size: 42px;
			letter-spacing: 2px;
		}
	}
}
@media (width >= 1190px) {
	.card {
		&__top-title {font-size: 16px;}
		&__textblue {
			font-size: 16px;
			& span {font-size: 17px;} 
		}
		&__subtitle {font-size: 18px;}
	}
}
@media (width >= 1440px) {
	.card {
		width: 100%;
		&__container {padding: 0px 14px;}
		&__top-title {
			padding: 0px 16px;
			border-radius: 6px;
			font-size: 18px;
			background-color: var(--bg);
		}
		&__textblue {
			display: block;
			font-size: 18px;
			& span {font-size: 19px;}
		}
		&__title {
			padding-right: 77px;
			font-size: 64px;
			letter-spacing: 2.56px;
		}
		&__subtitle {font-size: 22px;}
	}
} 