.card-episodes {
	padding: 5% 0;
	@media (width >= rem(768)) {
		height: auto;
		width: 80%;
		padding: 0;
	}
	@media (width >= rem(1440)) {width: 100%;}
	&__container {
		height: 100%;
		padding: 0 rem(15);
		display: flex;
		flex-direction: column;
		@media (width >= rem(375)) {padding-inline: rem(40);}
		@media (width >= rem(768)) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0;
			text-align: left;
		}
	}
	&__top-title {
		display: inline-block;
		align-self: flex-start;
		margin: 0 auto 5%;
		padding: rem(4) rem(8);
		@include fluid-text(18,16);
		line-height: 1.5;
		border-radius: rem(4);
		background-color: var(--bg);
		@media (width >= rem(768)) {margin: 0;}
		@media (width >= rem(1440)) {			
			padding: rem(0) rem(16);
			margin-bottom: rem(28);
			border-radius: rem(6);
			background-color: var(--bg);
		}
	}
	&__textblue {
		display: inline-block;
		align-self: flex-start;
		padding: rem(4) rem(8);
		margin: 0 auto 10%;
		border-radius: rem(4);
		color: var(--blue);
		filter: saturate(200%);
		@media (width >= rem(375)) {margin: 0 auto 15%;}
		@media (width >= rem(425)) {margin: 0 auto 19%;}
		@media (width >= rem(768)) {			
			margin: 0;
			padding: 0;
		}
		@media (width >= rem(768)) {margin-bottom: rem(-3);}
		& span {
			font-size: rem(10);
			@media (width >= rem(375)) {font-size: rem(11);}
			@media (width >= rem(425)) {font-size: rem(12);}
			@media (width >= rem(576)) {font-size: rem(13);}
			// @include fluid-text(18,10);
			@media (width >= rem(768)) {margin: 0 0 0 rem(2);}
			@media (width >= rem(992)) {
				margin: 0 0 0 rem(3);
				font-size: rem(15);
			}
			@media (width >= rem(1190)) {font-size: rem(17);}
			@media (width >= rem(1440)) {
				margin-left: rem(5);
				font-size: rem(18);
			}			
		}
	}
	&__title {
		margin: 0 0 5%;
		@include fluid-text(64, 18);
		line-height: 1.1;
		letter-spacing: clamp(0.05rem, 0.013rem + 0.19vw, 0.18rem);
		@media (width >= rem(768)) {margin: 0;}
		@media (width >= rem(1440)) {
			padding-right: rem(89);
			letter-spacing: rem(2.6);
		}
	}
	&__subtitle {
		margin-bottom: 35%;
		-webkit-line-clamp: 3;
		text-wrap: balance;
		@media (width >= rem(576)) {margin-bottom: 46%;}
		@media (width >= rem(768)) {margin: 0;}
		@media (width >= rem(1440)) {text-wrap: inherit;}												
	}
	&__button {
		margin: 0 auto;
		@media (width >= rem(768)) {
			margin: 0;
			align-self: flex-start;
		}
	}
}