.footer {
	position: relative;
	&__container {
		// @media (width >= 1440px) {
		// 	padding-left: 70px;
		// 	padding-right: 70px;
		// }
		@media (min-width: 576px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		@media (min-width: 768px) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@media (min-width: 992px) {
			padding-left: 50px;
			padding-right: 50px;
		}
		@media (min-width: 1190px) {
			padding-left: 60px;
			padding-right: 60px;
		}
		@media (width >= 1440px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	@media (width >= 1440px) {
		padding: 100px 0px 120px;
		color: var(--color-text);		
	}
	&__row {
		@media (width >= 1440px) {
			position: relative;
			display: flex;
			column-gap: 18%;		
		}
	}
	&__logo {
		@media (width >= 1440px) {
			margin: 0px 0px 20px;		
		}
	}
	&__icons-1 {
		@media (width >= 1440px) {
			position: absolute;
			top: 0;
			right: 12%;
		}
		// margin-left: -10px;
	}
}