.nav-footer {
    @media (width >= 1440px) {padding-top: 2px;}
    &__row {
        display: flex;
        column-gap: clamp(120px, -1.025rem + 42.62vw, 406px);
        @media (width >= 992px) {
            column-gap: clamp(112px, 4.503rem + 4.03vw, 130px);
        }
        @media (width >= 1440px) {column-gap: 124px;}
    } 
    &__list {
        color: var(--color-text);
        line-height: calc(27 / 17);
    }
    &__item {margin-bottom: -3px;}
    &__link {
        display: inline-flex;
        height: clamp(32px, 1.642rem + 1.79vw, 40px);
        color: var(--color-text);
    }
}