.footer {
	position: relative;
	padding-top: fluid-full(100,20);
	padding-bottom: fluid-full(124,40);
	@media (width: rem(768)) {padding-bottom: rem(72);}
	&__container {padding-inline: var(--pad-inl-head-foot);}

	&__row {
		display: grid;
		row-gap:  fluid-mobile-add(40,20);		
		margin-bottom: fluid-mobile-add(40,28);
		@media (width: rem(768)) {
			row-gap: rem(32);
			margin-bottom: rem(36);
		}
		@media (width >= rem(992)) {
			position: relative;
			display: flex;
			column-gap: 12%;
			margin-bottom: 0;
		}
		@media (width >= rem(1024)) {column-gap: fluid-mid_3(214,130);}
		@media (width >= rem(1440)) {
			position: relative;
			display: flex;
			column-gap: rem(264);		
		}
	}

	&__col {
		display: flex;
		align-items: center;
		column-gap: fluid-mobile-add(285,28);
		@media (width >= rem(576)) {column-gap: fluid-mobile-add(285,30);}
		@media (width: rem(768)) {column-gap: rem(204);}
		@media (width > rem(768)) {column-gap: fluid-mobile-add(285,40);}
		@media (width >= rem(992)) {display: block;}
	}

	&__logo {
		display: inline-block;
		&-img {
			width: fluid-full(223,112);
			height: auto;
			@media (width: rem(768)) {width: rem(156);}
		}
		@media (width >= rem(992)) {margin-bottom: rem(20);}
	}

	&__soc1als-1 {
		@media (width >= rem(992)) {
			position: absolute;
			top: 19%;
			right: 5%;
		}
		@media (width >= rem(1200)) {top: 21%;}
		@media (width >= rem(1440)) {right: 14%;}
		@media (width >= rem(2200)) {right: 30%;}
	}
	
	&__soc1als-2 {
		display: flex;
		column-gap: fluid-mobile-add(50,30);
		@media (width >= rem(992)) {column-gap: rem(10);}
	}
}