.footer {
	&__container {
		@media (width >= 1440px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	@media (width >= 1440px) {
		padding: 100px 0px 120px;
		color: var(--color-text);		
	}
	&__row {
		@media (width >= 1440px) {
			display: flex;
			column-gap: 18%;		
		}
	}
	&__logo {
		@media (width >= 1440px) {
			margin: 0px 0px 20px;		
		}
	}
	// &__icons_1 {
	// 	margin-left: -10px;
	// }
}