.form-subscribe {
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (width >= 450px) {
			align-items: center;
		}
	}
	& input {
		padding: 12px 10px;
    	border-radius: 4px;
		line-height: 1.17;
		@media (width >= 450px) {
			width: 70%;
		}
		@media (width >= 450px) {
			width: 60%;
		}
		@media (width >= 650px) {
			width: 50%;
		}
	}
	& button {
		display: flex;
		align-self: flex-start;
		padding: 8px 14px;
		margin: 0px auto;
		font-size: 11px;
	}
}
@media (width >= 1440px) {
	.form-subscribe {
		&__form {
			& input {
				width: 522px;
				height: 88px;
				padding: 0px 10px 0px 20px;
				margin: 0px 0px 20px;
				border-radius: 6px;
				font-size: 24px;
				line-height: 1.17;
				background-color: var(--bg);
				color: var(--color-text);
			}
			& button {
				display: flex;
				align-self: flex-start;
				font-size: 15px;
			}
		}
	}
}