.header {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 8;
	min-height: 60px;
	width: 100%;
	display: flex;
  	align-items: center;
	padding: 10px 0px;
	background-color: var(--bg);
	@media (min-width: 768px) {	
		min-height: 70px;
	}
	@media (min-width: 1024px) {	
		min-height: 80px;
		padding: 20px 0px;
	}
	@media (min-width: 1190px) {
		min-height: 90px;
	}
	@media (min-width: 1440px) {
		min-height: 120px;
		padding: 26px 0px;
	}
	&__container {
		padding: 0px 15px;
		display: flex;
		justify-content: space-between;	
		width: 100%;
		@media (min-width: 576px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		@media (min-width: 768px) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@media (min-width: 992px) {
			padding-left: 50px;
			padding-right: 50px;
		}
		@media (min-width: 1190px) {
			padding-left: 60px;
			padding-right: 60px;
		}
		@media (width >= 1440px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}