.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	min-height: 60px;
	width: 100%;
	display: flex;
  align-items: center;
	padding: 10px 0;
	background-color: var(--bg);
	// background-color: red;
	@media (min-width: 768px) {	
		min-height: 70px;
		// padding: 10px 0;
	}
	@media (min-width: 1024px) {	
		min-height: 80px;
		padding: 20px 0;
	}
	@media (min-width: 1190px) {
		min-height: 90px;
	}
	@media (min-width: 1440px) {
		min-height: 120px;
		padding: 26px 0;
		// margin-bottom: 124px;
	}
	&__container {
		display: flex;
		justify-content: space-between;	
		width: 100%;
	}
}