.menu {
  &__icon {
    position: absolute;
    height: clamp(22px, 1.151rem + 1.12vw, 27px); // from 320 to 767
    aspect-ratio: 20/15;
    right: 15px;
    z-index: 6;
    transition: all .3s ease 0s;
    & span,
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 17%;
      background-color: #fff;
      transition: all .3s ease 0s;
    }
    &::before,
    &::after {content: "";}
    &::before {top: 0;}
    &::after {bottom: 0;}
    & span {
      top: 50%;
      transform: translate(0px, -50%);
    }
    &._active span {transform: scale(0) translate(0px, -50%);}
    &._active::before,
    &._active::after {
      top: 50%;
      height: 25%;
    }
    &._active::before {transform: rotate(-45deg) translate(3px, -50%);}
    &._active::after {transform: rotate(45deg) translate(-3px, -50%);}

    @media(min-width: 576px) {right: 20px;}
    @media(min-width: 768px) {
      opacity: 0;
      visibility: hidden;
      width: 0px;
      height: 0px;    
      left: -1000%;
      background-color: transparent;
      font-size: 0;
    }
  }    

  &__body {
    position: absolute;
    top: 0;
    left: -150%;
    height: 100vh;
    width: 100%;
    // padding-top: 120px; 
    background-color: rgb(6 33 55 / 0.9);
    display: flex;
    z-index: 5;
    overflow: auto;
    transition: all .3s ease 0s;
    &._active {
      left: 0;
    }
    @media (min-width: 768px) {
      position: static;
      height: auto;
      background-color: transparent;
      // padding-top: 0;
    }
  }

  &__list {
    // transition: all 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 0;
    // height: 100%;
    // width: 60%;
    // overflow: auto;
    margin: auto;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 40px;
        padding: 0;
    }    
  }

  // &._active {
    //     top: 0;
    //     left: 0;
    //     height: 100vh;
    //     transition: all 0.5s ease 0s;
    //     @media (min-width: 768px) {
    //         top: 0;
    //         left: 0;
    //         height: auto;
    //     }
    // }
    // &__item {
    //     margin-left: clamp(15px, -0.045rem + 4.91vw, 70px); // from 320 to 1440;
    //     &:not(:last-child) {
    //         margin-bottom: clamp(60px, 1.96rem + 8.95vw, 100px); // from 320 to 767
    //     }
    //     @media (min-width: 768px) {
    //         margin-left: 0;
    //         line-height: 1.2;
    //         &:not(:last-child) {margin-bottom: 0;}
    //     }
    // }
  &__link {
    display: block;
    // @include fluid-text(16, 24);
    font-size: clamp(1rem, 0.642rem + 1.79vw, 1.5rem);
    line-height: 70px;
    color: var(--color-text);
    text-decoration: none;
    @media (width >= 768px) {
        // font-size: clamp(14px, 0.589rem + 0.6vw, 18px); // from 768 to 1440
        @include fluid-text(14, 18);
        line-height: clamp(22px, 1.045rem + 0.71vw, 27px);      
        &:hover, &:active {color: var(--blue);}      
    }
    @media (width >= 1440px) {
        display: inline-flex;
        height: 67px;
        align-items: center;
    }
  }
}