.navigation {
  &__list {
    position: absolute;
    left: -150%;
    padding-top: 120px; 
    background-color: rgb(6 33 55 / 0.9);
    @media (min-width: 768px) {
      position: static;
      background-color: transparent;
      padding-top: 0;
    }
  }
}