.card-host {
	padding-top: 4%;			
	@media (width >= 576px) {padding-top: 40px;}
	@media (width >= 768px) {
		max-width: 90%;
		padding: 0;
	}
    @media (width >= 1440px) {max-width: 590px;}
	&__container {
		padding-inline: 15px;
		@media (width >= 425px) {padding-inline: 60px;}
		@media (width >= 576px) {padding-inline: 120px;}
		@media (width >= 768px) {
			display: flex;
			flex-direction: column;
			padding: 0px;
		}
		@media (width >= 1440px) {padding: 0px;}
	}
	

	&__arrow {
		display: none;
		@media (width >= 768px) {
			position: relative;
			width: clamp(60px, 0.036rem + 7.74vw, 112px);
			aspect-ratio: 1;
			background-color: var(--color-active);
			display: block;
			// width: 19%;
			border-radius: 50%;
			margin-bottom: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 62%;
			aspect-ratio: 1;
			width: 62%;
			transform: translate(34%, 34%);
			// width: 100%;
			// height: 100%;
			background: url('../../img/icons/host-arrow/host-arrow.svg') no-repeat center center;
			background-size: contain; /* Измените на cover, если нужно полностью покрыть элемент */
			//opacity: 0.5; /* Прозрачность, при необходимости */
			// z-index: -1;

			@media (max-width: 600px) {
			background-size: 50%; /* Изменение размера на меньших экранах */
			}
			@media (min-width: 601px) {
			background-size: contain; /* Размер для более крупных экранов */
			}
		}
	}

    &__textblue {
        display: inline-block;
		margin: 0 auto 30%;
        padding-inline: 8px;
        border-radius: 2px;
        background-color: var(--bg);
		@media (width >= 425px) {margin: 0 auto 45%;}
		@media (width >= 576px) {margin: 0 auto 75%;}
		@media (width >= 768px) {
			padding: 0;
			margin: 0;
		}
	}
	&__title {
		margin-bottom: 32px;
		@media (width >= 768px) {margin-bottom: 20px;}	
		@media (width >= 1440px) {margin-bottom: 28px;}
	}
    &__subtitle:not(:last-child) {
		margin-bottom: 20px;
		@media (width >= 1440px) {margin-bottom: 32px;}
	}
}