.card-host {
	padding-top: 4%;			
	@media (width >= 576px) {padding-top: 40px;}
	@media (width >= 768px) {
		max-width: 90%;
		padding: 0;
	}
    @media (width >= 1440px) {max-width: 590px;}
	&__container {
		padding-inline: 15px;
		@media (width >= 425px) {padding-inline: 60px;}
		@media (width >= 576px) {padding-inline: 120px;}
		@media (width >= 768px) {
			display: flex;
			flex-direction: column;
			padding: 0px;
		}
		@media (width >= 1440px) {padding: 0px;}
	}
	&__arrow {
		display: none;
		margin-bottom: 20px;
		@media (width >= 768px) {
			display: block;
			margin-bottom: 12px;
			& img {
				width: clamp(62px, 0.304rem + 7.44vw, 112px);
				height: clamp(62px, 0.304rem + 7.44vw, 112px);
			}
		}
		@media (width >= 1440px) {margin-bottom: 20px;}
	}
    &__textblue {
        display: inline-block;
		margin: 0 auto 30%;
        padding-inline: 8px;
        border-radius: 2px;
        background-color: var(--bg);
		@media (width >= 425px) {margin: 0 auto 45%;}
		@media (width >= 576px) {margin: 0 auto 75%;}
		@media (width >= 768px) {
			padding: 0;
			margin: 0;
		}
	}
	&__title {
		margin-bottom: 32px;
		@media (width >= 768px) {margin-bottom: 20px;}	
		@media (width >= 1440px) {margin-bottom: 28px;}
	}
    &__subtitle:not(:last-child) {
		margin-bottom: 20px;
		@media (width >= 1440px) {margin-bottom: 32px;}
	}
}