.icons-hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (min-width: 576px) {
		justify-content: flex-start;
		column-gap: 40px;
	}
	@media (min-width: 650px) {
		flex-wrap: nowrap;
	}
	@media (min-width: 768px) {
		column-gap: 20px;
	}
	@media (width >= 1440px) {
		column-gap: 3%;
	}
}