.icons-social-2 {
    // &__icons {
		// @media (width >= 1440px) {
        // }
        display: flex;
        column-gap: 10px;		
	// }
	// &__icons {
		// @media (width >= 425px) {
		// 	justify-content: flex-start;
		// 	column-gap: 10%;
		// }
		// @media (width >= 500px) {margin: 0px 0px 20px;}
		// @media (width >= 575px) {column-gap: 10%;}
		// @media (width >= 768px) {column-gap: 7%;}
		// @media (width >= 1440px) {column-gap: 10px;}
	// }
}