.item-reviews {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--bg-black);
    line-height: 1.2;
    padding: 20px 15px;
    @media (width >= 1440px) {
        width: 423px;
        // height: 321px;
        padding: 52px 50px;
        border-radius: 32px;
    }
    &__icons img {
        width: 3%;
        // margin: 0px 0px 20px;
        // line-height: 1;
    }
    &__text {
        font-size: clamp(12px, 0.321rem + 2.14vw, 36px);
        line-height: 1.23;
        @media (width >= 1440px) {
            font-size: 36px;
        }
    }
    &__autor {
        font-size: clamp(8px, 0.232rem + 1.34vw, 23px);
        line-height: 1.25;
        color: var(--color-text-subtitle);
        @media (width >= 1440px) {
            font-size: 24px;
        }
    }
}