.menu-list {
  position: absolute;
  left: -150%;
  background-color: rgba(6, 33, 55, 0.9);
  padding-top: 120px; 
  width: 100%;
  transition: all 0.5s ease 0s;
  @media (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding-top: 0px;
  }
  @media (min-width: 1440px) {column-gap: 40px;}
  &._active {
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s ease 0s;
    @media (min-width: 768px) {
      top: 0px;
      left: 0;
      height: auto;
    }
  }
  &__item {
    margin: 0px 0px 48px 15px;
    @media (min-width: 576px) {
      margin: 0px 0px 48px 20px;
		}
    @media (min-width: 768px) {
      margin-bottom: 0;
      line-height: 1.2;
    }
    @media (min-width: 1440px) {
      margin: 0px;
    }
  }
  &__link {
    @media (width < 768px) {
      font-size: 16px;
    }
    $maxWidth: 1440;
    @mixin adaptive-font ($pcSize, $mobSize) {
      @media (768px <= width <= 1440px) {
        $addSize: $pcSize - $mobSize;
        $addMobSize: $addSize + $addSize * 1.15;
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 768px) / #{$maxWidth}));
      }
    }
    @mixin adaptive-lineheight ($pcSize, $mobSize) {
      @media (768px <= width <= 1440px) {
        $addSize: $pcSize - $mobSize;
        $addMobSize: $addSize + $addSize * 1.15;
        line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 768px) / #{$maxWidth}));
      }
    }
    color: var(--color-text);
    text-decoration: none;
    @include adaptive-font(17, 12);
	  @include adaptive-lineheight(27, 19);
    font-weight: 700;
    @media (width >= 992px) {
      &:hover, &:active {color: var(--blue);}      
    }
  }    
}