.page {
	// flex: 1 1 auto;
	&__container {
		padding-inline: 0;
		@media (width >= rem(768)) {padding-inline: 40px;}
		@media (width >= rem(992)) {padding-inline: 50px;}
		@media (width >= rem(1190)) {padding-inline: 60px;}
		@media (width >= rem(1440)) {padding-inline: 70px;}
		// @media (width >= rem(768)) {
			// padding-inline: fluid-mid(70,40); // from 768 to 1440			
		// }
	}	
	&__episodes {
		// margin-bottom: 8%;
		// @media (width >= rem(768)) {margin-bottom: rem(80);}
		// @media (width >= rem(992)) {background-color: var(--bg);}
		// @media (width >= rem(1440)) {margin-bottom: rem(160);}
	}	
	&__about {
		// margin-bottom: 8%;
		// text-align: center;		
		// @media (width >= rem(768)) {
		// 	margin-bottom: rem(40);
		// 	text-align: left;
		// }
		// @media (width >= rem(992)) {margin-bottom: rem(0);}
		// @media (width >= rem(1190)) {margin-bottom: rem(80);}
		// @media (width >= rem(1440)) {margin-bottom: rem(100);}
	}
	// &__reviews {
	// 	margin-bottom: 8%;
	// 	@media (width >= rem(1440)) {margin-bottom: rem(100);}
	// }	
}