.rating-view {
    font-size: rem(0);
    display: inline-flex;
    column-gap: fluid-full(5.46,0.5);
    &__star {
        width: fluid-full(17.11,7.5);
        height: fluid-full(16.36,7.08);
        background: url('../../img/icons/review-stars/star_gray.svg') center/contain no-repeat;
        &.is-active {
            background: url('../../img/icons/review-stars/star_yellow.svg') center/contain no-repeat;
        }
    }    
}
