.item-reviews {    
    &__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: clamp(12px, 0.607rem + 0.71vw, 20px);
        background-color: var(--bg-black);
        line-height: 1.2;
        padding: clamp(20px, 0.714rem + 2.68vw, 50px);
        border-radius: 20px;
        @media (width >= 1440px) {
            width: 423px;
            padding: 52px 50px;
            border-radius: 32px;
        }
    }
    &__icons {font-size: 0px;}
    &__icons img {
        width: 3%;
        height: auto;
        display: inline;
        margin-right: 1%;
        @media (width >= 1024px) {
            width: auto;
            &:not(:last-child) {margin-right: 5px;}
        }
    }
    &__text {
        font-size: clamp(12px, 0.321rem + 2.14vw, 36px);
        line-height: 1.23;
        color: var(--color-text);
        @media (width >= 1440px) {font-size: 36px;}
    }
    &__autor {
        font-size: clamp(8px, 0.232rem + 1.34vw, 23px);
        line-height: 1.25;
        color: var(--color-text-subtitle);
        @media (width >= 1440px) {font-size: 24px;}
    }
}