.soc1als-2 {
	&__list {
		display: flex;
		column-gap: rem(10);
	}
	
	&__link {
		display: inline-flex;
		width: var(--icon-soc1als-2-width);
		@media (width: rem(768)) {
			width: rem(19);
		}
	}

}
