.form-subscribe {
	padding-bottom: 7%;
	flex-direction: column;
	row-gap: rem(20);
	@media (width >= rem(768)) {
		row-gap: rem(16);
		padding: 0;
	}
	@media (width >= rem(1440)) {row-gap: rem(22);}
	&__form {
		width: fluid-mobile(480,260);
		padding: rem(12) rem(10);
		border-radius: rem(4);
		background-color: var(--bg);
		@media (width >= rem(768)) {
			width: 100%;
			padding: rem(16) rem(12);
		}
		@media (width >= rem(992)) {padding: rem(22) rem(10) rem(22) rem(18);}
		@media (width >= rem(1200)) {padding: rem(26) rem(10) rem(26) rem(20);}
		@media (width >= rem(1440)) {
			width: rem(522);
			height: rem(82);
			padding: rem(22) rem(10) rem(10) rem(20);
			margin: 0;
			border-radius: rem(6);
			background-color: var(--bg);
		}
		&::placeholder {
			font-size: fluid-full(24, 15);
			line-height: calc(28.8 / 24);
			color: var(--color-text-subtitle);
		}
		&::-webkit-input-placeholder {
			font-size: fluid-full(24, 15);
			line-height: calc(28.8 / 24);
			color: var(--color-text-subtitle);
		}
		&:-moz-placeholder {
			font-size: fluid-full(24, 15);
			line-height: calc(28.8 / 24);
			color: var(--color-text-subtitle);
		}
		&:-ms-input-placeholder {
			font-size: fluid-full(24, 15);
			line-height: calc(28.8 / 24);
			color: var(--color-text-subtitle);
		}				
	}
	&__button {
		margin: 0 auto;
		@media (width >= rem(768)) {
			display: flex;
			align-self: flex-start;
			margin: 0;
		}
	}	
}