html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--header-height);
}
html,
body {
	height: 100%;
	font-family: "DM Sans";
	line-height: 1;
	color: var(--color-text);
	background-color: var(--bg);
}
body._lock {overflow: hidden;}
img {display: block;}
.none {display: none;}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.align-center {
	display: flex;
	align-items: center;
}
.subtitle {
	font-size: clamp(12px, 0.571rem + 0.89vw, 22px);
	line-height: clamp(18px, 0.857rem + 1.34vw, 33px);
	@media (width >= 768px) {color: var(--color-text-subtitle);}
}
.textblue {
	color: var(--blue);
	filter: saturate(200%);
}
.text-short {
	font-size: clamp(9px, 0.42rem + 0.71vw, 17px);
	line-height: 1.6;
}
.ellipsis-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}