// @function rem($pixels) {
// 	@return calc($pixels / 10) + rem;
// }

// html {
// 	--refRes: 1920;
// 	$ratio: 0.5;
// 	font-size: calc(100vw / var(--refRes) * 10);

// 	@media (min-width: 1921px) {
// 		font-size: calc(
// 		  10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes))
// 		);
// 	}
// }

html,
body {
	height: 100%;
	color: var(--color-text);
	background-color: var(--bg);
	font-family: "DM Sans";
	font-size: 16px;
	line-height: 1;
}
body._lock {
	overflow: hidden;
}
.none {
	display: none;
}
.wrapper {
	min-height: 100vh;
	// min-width: 320px;
	display: flex;
	flex-direction: column;
}
h3 {
	font-size: 22px;
    line-height: 1.1;
    letter-spacing: 1.5px;
	@media (width >= 500px) {
		font-size: 28px;
	}
}
.container {
	max-width: 1440px;
	margin: 0px auto;
.subtitle {
	font-size: 12px;
	line-height: 1.5;
	@media (width >= 768px) {
		font-size: 14px;
		color: var(--color-text-subtitle);
	}
	@media (width >= 1190px) {font-size: 18px;}
	@media (width >= 1440px) {font-size: 22px;}
}

.textblue {
	// font-size: 14px;
	// line-height: 1.6;
	color: var(--blue);
	filter: saturate(200%);
}
.text-short {
	line-height: 1.5882;
	@media (width >= 1440px) {
		font-size: 17px;
	}
}
// ._ibg {
// 	position: relative;
// }
// ._ibg img {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// }
// .ellipsis-text {
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	display: -webkit-box;
// 	-webkit-box-orient: vertical;
// }