@use 'sass:math';

@mixin fluid-text-mobile($max: 80, $min: 15) {
    $maxViewportWidth: 767;
    $minViewportWidth: 320;

    font-size: calculate-font-size($max, $min, $maxViewportWidth, $minViewportWidth);
}

@mixin fluid-text($max: 80, $min: 15) {
    $maxViewportWidth: 1440;
    $minViewportWidth: 320;

    font-size: calculate-font-size($max, $min, $maxViewportWidth, $minViewportWidth);
    // letter-spacing: calculate-font-size($max, $min, $maxViewportWidth, $minViewportWidth);
}

@mixin menu-icon($size) {
    width: $size;
    height: $size;
}

h1 { @include fluid-text(40, 28) }
h2 { @include fluid-text(36, 26) }
h3 { @include fluid-text(32, 24) }
// h4 { @include fluid-text(28, 22) }
// h5 { @include fluid-text(24, 20) }
// h6 { @include fluid-text(20, 18) }

// body { @include fluid-text(100, 16) }

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}