.container {
	max-width: rem(1440);
	margin-inline: auto;
}

.visually-hidden {
    // @include visually-hidden;
	position: absolute !important;
    width: rem(1) !important;
    height: rem(1) !important;
    margin: rem(-1) !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.none {display: none;}

.align-center {
	display: flex;
	align-items: center;
}

.subtitle {
	// @include fluid-font (22, 15);
	font-size: fluid-full(22,15);
	line-height: calc(33 / 22);
	@media (width >= rem(768)) {color: var(--color-text-subtitle);}
}

.text-blue {
	color: var(--blue);
	filter: saturate(200%);
}

.ellipsis-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}